@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'titulo-font';
    src: url('../fonts/raidercrusadersemistraight.ttf'), format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Noto Sans", sans-serif;
    
   
}

/* HEADER */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;

    background-color: black;
    padding: 20px;
}

header > h1 {
    font-family: 'titulo-font';
    font-size: 2em;
    padding: 10px 4px;
    color: white;
}

/* NAV */
header > nav > a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    border-radius: 10px;
    padding: 5px;
}

header > nav > a:hover {
    background-color: red;
    transition: background-color .3s;
}

/* MAIN */
main {
    margin: auto;
}


/* SECTION VEICULOS */
h2 {
    text-align: center;
    padding: 15px;
    color: white;
    background-color: darkred;
}

.veiculos-destaque {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;

    margin: auto;
    max-width: 1025px;

}


/* CARD VEICULOS */
section .veiculos {
    display: block;
    width: 300px;
    height: 400px;
    
    margin: 20px;

    border-radius: 20px ;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

section .veiculos:hover {
    box-shadow: 0px 0px 5px black;
}

/* IMAGEM VEICULO */
.div-img-veiculo {
    display: block;
    width: 100%;
    height: 45%;

    border-radius: 20px 20px 0px 0px;
    
    /* Todos os cards são a mesma foto de carro porque demoraria muito até pegar foto de todos */
    background: url('../imagens/porshe911.jpg') center no-repeat scroll;
    background-size: cover;
}

#card1 {
    #
}

#card2 {
    #
}

#card3 {
    #
}

#card4 {
    #
}

#card5 {
    #
}

#card6 {
    #
}

/* MODELO VEICULO */
.veiculo-nome {
    background-color: red;
    color: white;
    padding: 5px;
}

/* ANO VEICULO */
.veiculo-ano {
    font-weight: bolder;
    padding: 5px;

}

/* VALOR DO VEICULO */
.veiculo-valor {
    font-size: 1.3em;
    color: red;
    font-weight: bold;
    padding: 5px;
    margin: 15px 0px;
}

/* BOTAO CONTATO */
.veiculo-contato {
    display: block;

    text-align: center;
    font-weight: bold;

    margin: 10px 30px;
    padding: 10px 70px;

    color: black;
    text-decoration: none;

    border: 1px solid black;
    border-radius: 20px;

    transition: background-color .3s;
}

.veiculos > .veiculo-contato:hover {
    background-color: red;
    color: white;
}

/* FOOTER */
footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}