@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'titulo-font';
    src: url('../fonts/raidercrusadersemistraight.ttf'), format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Noto Sans", sans-serif;
}

/* HEADER */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;

    background-color: black;
    padding: 20px;
}

header > h1 {
    font-family: 'titulo-font';
    font-size: 2em;
    padding: 10px 4px;
    color: white;
}

/* NAV */
header > nav > a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    border-radius: 10px;
    padding: 5px;
}

header > nav > a:hover {
    background-color: red;
    transition: background-color .3s;
}


/* SECTION VEICULOS */
.veiculos-destaque {

}


/* CARD VEICULOS */
article .veiculos {
    
}
