@charset "UTF-8";

* {
 font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor-texto: #333333;
    --cor-botao: #E36202;
}


/* CONFIG ICONS */
 .material-symbols-outlined:hover {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
