@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* TITULOS:
   font-family: "Peralta", serif;
   font-weight: 400;
   font-style: normal;

  TEXTOS:
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
*/

/* CONFIGURAÇÂO GLOBAL */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    background-color: lightgray;
}


/* HEADER */
header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    background-color: white;

    margin: auto;
    margin-top: 15px;
    width: 95%;
    padding: 17px;

    border-radius: 45px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.37);
}

header > h1 {
    flex: 1 0 300px;
    font-family: "Peralta", serif;
    font-weight: 400;
    font-style: normal;
}



/* SECTION PRODUTOS */
main > section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    background-color: white;

    margin: 20px 0px;
    padding: 10px;

}

main > section > h2 {
    flex: 1 0 100%;
    margin: 20px 0px;
    padding: 10px;
    text-align: center;
}

.div-produtos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    width: 100%;
    max-width: 850px;
    margin: auto;
}

/* CARD PRODUTOS */
.div-produtos > .card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 30px 20px;

    width: 170px;

    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}


/* IMAGEM PRODUTO CARD */
.div-produtos > .card > .img-card {
    display: block;
    width: 170px;
    height: 130px;
    border-radius: 30px 30px 0px 0px;
    background-image: url('imagens/cardweb.jpg');
    background-size: cover;
}


/* NOME DO PRODUTO */
.div-produtos > .card > .h3-card {
    margin: 8px;
}


/* PREÇO */
.div-produtos > .card > .p-card {
    color: white;
    background-color: darkgreen;
    padding: 3px;
}


/* BTN COMPRAR */
.div-produtos > .card > .btn-comprar-card {
    color: green;
    font-weight: 500;
    text-decoration: none;
    border: 2px solid darkgreen;
    border-radius: 20px;
    margin: 15px 0px;
    padding: 5px;

    transition-duration: .3s;
}

.div-produtos > .card > .btn-comprar-card:hover {
    background-color: darkgreen;
    color: white;
}

