@charset "UTF-8";

@media screen and (min-width: 769px) {
    
    section.login {
        max-width: 600px;
    }

    header {
        font-size: 1.5em;
    }

    header > #div-nav > nav > a {
        padding: 12px;
    }

}