@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 1em;
    background-image: linear-gradient(to bottom,black,#04278a, #1b47c0);
    background-repeat: no-repeat;
    min-height: 100vh;
}

header {
    font-size: 1.1em;
    background-color: black;
    text-align: center;
}

header > h1 {
    text-align: center;
    color: white;
    padding: 20px;
}

header > #div-nav {
    padding-bottom: 23px;
}

header > #div-nav > nav > a {
    color: white;
    text-decoration: none;
    padding: 7px;
    transition-duration: .4s;
}

header > #div-nav > nav > a:hover {
    background-color: rgb(97, 94, 94);
    border-radius: 20px;
    text-decoration: underline;
}

section.login {
    width: 90vw;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 40px;
    background-color: white;
    font-size: 1.2em;
}

section.login > h2 {
    font-size: 1.8em;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid black;
}

.form {
    display: block;
    align-items: center;
    align-content: center;
}

.form > input {
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
}

.btn-sub-res {
    text-align: center;
    margin: 40px;
}

.btn-sub-res > input {
    background-color: white;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
}

form > #p-autent {
    color: gray;
    font-size: .6em;
    padding: 10px;
    text-align: center;
}

